:root {
  --clr-white: #fff;
  --clr-black: #000;
}



body {
  max-width: 1500px;
  min-height: 100vh;
  font-family: 'Syne', Mulish;
}



button {

  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}