:root {

  /*======== Color =======*/
  --clr-white: #fff;
  --clr-black: #000;

  /*======== Devices Width =======*/
  --clr-lg-width: 70%;
  --clr-md-width: 80%;
  --clr-sm-width: 92%;



  /*======== Transition =======*/
  --transition: all 350ms ease;



}



body {
  max-width: 1500px;
  min-height: 100vh;
  font-family: 'Syne', Mulish;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.container {
  width: var(--clr-lg-width);
  margin: 0 auto;
}

button {
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;

}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}